.previousLotteryGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  height: 100%;
  //margin: auto;
  position: relative;
  border: 2px solid rgb(0, 0, 0);
}

.currentLotteryGame {
  border: 2px solid rgb(0, 0, 0);
  border-left-width: 0px;
  display: flex;
  flex-direction: column;
  // justify-content: flex-start; // Aligns children to the top of the container
  width: 66%; // 60% of the viewport width
  height: 100%; // 40% of the viewport height
  //margin: auto; // Automatically adjust margin to center the element on the page
  // position: absolute; // Position it absolutely relative to the parent
  //position: relative;
  // top: 50%; // 50% from the top of the parent
  // left: 50%; // 50% from the left of the parent
  //transform: translate(-50%, -50%); // Offset the element by half its own width and height to center
}

.lotteryCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.5rem;
}

.lotteryPage {
  font-style: normal;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 90vh;
}

.lotteryInnerCard {
  display: flex;
  flex-direction: row;
}

.infoAndBuy {
  min-height: 100%;

}

@media (max-width: 768px) {
  .lotteryCard {
    margin-top: 2.5rem;
    flex-direction: column-reverse;
    padding: 0rem;
    height: auto;
    align-items: center; // Centers children horizontally
  }

  .previousLotteryGame {
    width: 95%;
    height: auto;
    margin-bottom: 1rem;
  }

  .currentLotteryGame {
    margin-top: 1rem;
    width: 95%;
    height: auto;
    border-left-width: 2px;
    border-bottom-width: 0px;

  }

  .contentContainer {
    flex-direction: column;
    display: flex;
  }
}