.NumberSelectorContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: 2px solid rgb(0, 0, 0);
  border-left-width: 0px;
  border-top-width: 0px;
}

.contentContainer {
  display: flex;
  flex-direction: row;
}

.NumberSelectorHolder {
  flex-grow: 1;
  height: 39.85rem;
  max-width: 90%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &:focus {
    outline: none;
    border-color: #6e54a3;
    box-shadow: 0 0 5px rgba(110, 84, 163, 1);
  }

  &::-webkit-scrollbar {
    width: .5rem;
    left: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #D8D8D8;
    border-radius: .25rem
  }

  &::-webkit-scrollbar-track {
    background-color: #626262;
    border-radius: .25rem
  }
}

.numberRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.numberInput {
  display: flex;
  width: 4rem;
  height: 4rem;
  margin: 5px;
  padding: 10px;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  border-radius: 1rem;
  color: white;
  background-color: #1D1D1D;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
    border-color: #6e54a3;
    box-shadow: 0 0 5px rgba(110, 84, 163, 1);
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  //margin-bottom: .5rem;
  height: 5rem;
}

.TicketAmountEntry {
  font-family: inherit;
  font-size: 1.5rem;
  border: .2rem solid #ffffff;
  border-radius: 1.3rem;
  padding: 8px;
  background: none;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
  width: 5rem;
  text-align: center;
  color: white;
  outline: none;
}

.individualRandomizeButton {
  color: black;
  font-size: 2.5rem;
  cursor: pointer;
}